{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Ваши заказы</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Заказы
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID заказа</th>
                            <th>Имя пользователя</th>
                            <th>Создан</th>
                            <th>Обновлен</th>
                            <th>Статус</th>
                            <th>Активный</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID заказа</th>
                            <th>Имя пользователя</th>
                            <th>Создан</th>
                            <th>Обновлен</th>
                            <th>Статус</th>
                            <th>Активный</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for order in order_list %}
                            <tr>
                                <td><a href="{#% url 'orders:update_order' order.id %#}"
                                       style="color: dodgerblue">{{ order.id }}</a></td>
                                <td>{{ order.user }}</td>
                                <td>{{ order.created|date:"Y-m-d H:i:s" }}</td>
                                <td>{{ order.updated|date:"Y-m-d H:i:s" }}</td>
                                <td>{{ order.get_status_display }}</td>

                                {% if order.is_active %}
                                    <td class="text-center"><i class="fas fa-check-circle"></i></td>
                                {% else %}
                                    <td class="text-center"><i class="fas fa-times-circle"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{#% url 'orders:CreateOrder' %#}">
                    <button class="btn btn-success">Создать заказ</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
